@using Reto_sophos2.Models;
@model List<Hero>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @Html.ActionLink("Guardians of the globe", "Living", "Home",null,new { @class="navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Inicio", "Living", "Home",null,new { @class="nav-link" })
            </li>
            <li class="nav-item active">
                @Html.ActionLink("Heroes", "Heroes", "Home",null,new { @class="nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Villanos", "Villains", "Home",null,new { @class="nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Info", "Info", "Home",null,new { @class="nav-link" })
            </li>
        </ul>
    </div>
</nav>

<div class="nav flex-column">
    @Html.ActionLink("Buscar", "Heroes", "Home",null,new { @class="nav-link" })
    @Html.ActionLink("Crear", "Crear", "Home",null,new { @class="nav-link" })
    @Html.ActionLink("Agenda", "Agenda", "Home",null,new { @class="nav-link active" })
    @Html.ActionLink("Sponsors", "Sponsors", "Home",null,new { @class="nav-link" })
    @Html.ActionLink("Peleas", "Peleas", "Home",null,new { @class="nav-link" })
</div>

<div class="text-center">
    <h2>   Peleas de los superheroes </h2>

</div>

<h4>Seleccionar un heroe en especifico</h4>
<div class="input-group">

    <form method="post" action="/Home/PeleasG">
        <input type="text" class="form-control" aria-label="Text input with dropdown button" name="heroname" placeholder="Nombre del superheroe" required>

        <div class="input-group-append">
            <select name="Dropdown1" id="Dropdown1">
                <option class="dropdown-item" value="Villano">Villano más enfrentado</option>
                <option class="dropdown-item" value="Heroes">Top 3 heroes con victorias</option>
                <option class="dropdown-item" value="VillanoL">Villano con más derrotas por parte de un menor</option>
            </select>
        </div>
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>


    </form>
</div>


@if (Model != null)
{

    @if (Model.Count > 0)
    {
        int i = 0;
        <div class="row">

            @foreach (var item in Model)
            {
                var imgsrc = "";
                try
                {
                    var base64 = Convert.ToBase64String(item.Img);
                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                }
                catch (NullReferenceException e)
                {

                }


                <div class="col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=@imgsrc alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.HeroName</h5>
                            <p class="card-text">
                                Nombre real: @item.RealName <br>
                                Poderes: @item.Powers <br>
                                Debilidades: @item.Weaks <br>
                                Edad: @item.Age <br>
                                Telefono: @item.Cellphone <br>
                                Relaciones: @item.Relations <br>
								Origen: @item.Origin <br>
                                Cantidad de victorias: @ViewBag.ws[i] 
                        </div>
                    </div>
                </div>

                i++;

            }
        </div>
    }

}
else
{
    if(ViewBag != null)
    {
        if (ViewBag.cantbat > 0)
        {

            var imgsrc = "";
            try
            {
                var base64 = Convert.ToBase64String(ViewBag.img);
                imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

            }
            catch (Exception e)
            {

            }
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=@imgsrc alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.Nombre</h5>
                    <p class="card-text">
                        Nombre real: @ViewBag.RN <br>
                        Poderes: @ViewBag.Poderes <br>
                        Debilidades:  @ViewBag.Debilidades <br>
                        Edad: @ViewBag.Age <br>
                        Cantidad de enfrentamientos: @ViewBag.cantbat <br>
                    </p>

                </div>
            </div>
        }
        else

        {

            <h3>Sin resultados</h3>

        }
    
    }
    else

    {

        <h3>Sin resultados</h3>

    }
    


}